<mat-card>
    <mat-card-header>
    <mat-card-title>Cadastrar Novo Cliente</mat-card-title>
    </mat-card-header>    
    
        <mat-card-content>
            <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
                <div class="form-cotent">
                    <mat-form-field>
                        <input matInput placeholder="Nome" style="text-transform: uppercase;" formControlName="nome" type="text" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [matDatepicker]="dp" placeholder="Data de Nascimento" formControlName="dataNascimento">
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Rua" formControlName="rua" type="text" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Número" formControlName="numero" type="number">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Bairro" formControlName="bairro" type="text" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="UF" formControlName="uf" required>
                            <mat-option *ngFor="let uf of ufs" [value]="uf">{{uf}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Cidade" formControlName="cidade" type="text" required>
                    </mat-form-field>
                    <section>
                        <mat-checkbox formControlName="ativo">Ativo</mat-checkbox>
                    </section>
                    <mat-radio-group formControlName="tipo" aria-label="Select an option">
                        <mat-radio-button  *ngFor="let opt of opts" [value]="opt">{{opt}}</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class='exemple-raised-button'>
                        <button mat-raised-button color="primary" type="submit" class="button">
                            Cadastrar
                        </button>
                </div> 
            </form>
            
        </mat-card-content>

</mat-card>
